{% load static %}
<div>
  <div>
    <span>Coordinador</span>
  </div>

  <!-- <a href="{% url 'lista_niveles' %}"> -->
  <a href="#"></a>
    <ion-icon name="aperture-outline"></ion-icon> Niveles Educativos
  </a>
  <!-- <a href="{% url 'lista_grados' %}"> -->
  <a href="#"></a>
    <ion-icon name="code-working-outline"></ion-icon> Grados
  </a>
  <!-- <a href="{% url 'lista_areas' %}"> -->
  <a href="#"></a>
    <ion-icon name="albums-outline"></ion-icon> Áreas
  </a>
  <!-- <a href="{% url 'lista_asignaturas' %}"> -->
  <a href="#"></a>
    <ion-icon name="bookmarks-outline"></ion-icon> Asignaturas
  </a>
  <!-- <a href="{% url 'lista_aulas' %}"> -->
  <a href="#"></a>
    <ion-icon name="business-outline"></ion-icon> Aulas
  </a>
  <!-- <a href="{% url 'lista_grupos' %}"> -->
  <a href="#"></a>
    <ion-icon name="grid-outline"></ion-icon> Grupos
  </a>
  <!-- <a href="{% url 'lista_asignaciones' %}"> -->
  <a href="#"></a>
    <ion-icon name="checkmark-done-outline"></ion-icon> Asignación de Docentes
  </a>
  <!-- <a href="{% url 'usuarios_pendientes' %}"> -->
  <a href="#"></a>
    <ion-icon name="people-outline"></ion-icon> Validar Usuarios
  </a>
  <!-- <a href="{% url 'logout' %}"> -->
  <a href="#"></a>
    <ion-icon name="log-out-outline"></ion-icon> Cerrar Sesión
  </a>
</div>
<link rel="stylesheet" href="{% static 'css/aside_coordinador.css' %}">